.navbar {
    background-color: white;
}

.navbar-nav .nav-link {
    color: #3b2f2f;
    font-weight: 600; /* Slightly more bold */
}

.navbar-nav .nav-link.active {
    font-weight: 700; /* More bold for the active link */
    color: #3b2f2f;
}

#hero {
    background-image: url('assets/images/hero.png');
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Sets the height of the section */
    color: white; /* Sets the text color to white for better contrast */
    display: flex; /* Uses flexbox for centering content */
    align-items: center; /* Vertically centers the content */
    justify-content: center; /* Horizontally centers the content */
    text-align: center; /* Centers the text */
}